{% extends 'home/base.html' %}

{% block content %}
	<main>
		<section class="content-section">
			<div class="small-container wow fadeIn">
				<h1 class="text-center">Regular Content</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hos contra singulos dici est melius. Est, ut dicis, inquam. Si enim ad populum me vocas, eum. Primum in nostrane potestate est, quid meminerimus? </p>

				<h2>What I offer</h2>
				<ul>
					<li>HTML, CSS, JS + SEO & UX</li>
					<li>HTML: the content of the website.</li>
					<li>Original design (I take time to design each website to the clients' needs)</li>
					<li>Responsive design: your website will look good whether viewed on a desktop computer, tablet, or a phone - no awkward navigation bars and unreadable menus on the phone site.</li>
					<li>JavaScript: makes the website look smooth and professional. Used to eradicate choppy loading and adding little touches here and there to make it really stand out.</li>
					<li>Search Engine Organisation (SEO) and User Experience (UX):</li>
				</ul>
			</div>
		</section>
	</main>
{% endblock %}
