
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="./test.css">
    </head>

    


    <body class="container">
        <header>
            <ul id="share_links">
                <li><a href="#">FB</a></li>
                <li><a href="#">IG</a></li>
                <li><a href="#">TW</a></li>
            </ul>
            <h1 id="logo">
                <a href="#">Emmett Moore</a>
            </h1>
            <nav class="text-center">
                <ul id="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/polls/">Polls</a></li>
                    <li><a href="/">About</a></li>
                </ul>
            </nav>
        </header>
        <h2 class="new-post">
            <a href="#">
                <!--<span class="glyphicon glyphicon-plus"></span>-->
                + Create new post
            </a>
        </h2>
        <article class="post row">
            <div class="col-sm-5 blog_post_info">
                <h1 class="blog_post_title">
                    <a href="#">
                        Blog Post 1
                    </a>
                    </h1>
                <a href="#" class="read_more text-uppercase">Read More</a>
            </div>
            <p class="col-sm-5 text-justify">
                Lorem ipsum dolor sit amet, nec verear alterum patrioque at, no has habeo inani. Eum ornatus albucius eu. Et voluptua sapientem efficiantur mea. Munere fabulas vis ea, vix at amet intellegebat. Sit exerci scribentur et.

                Vel no dictas facilisi ullamcorper, usu ad vidisse democritum incorrupte. Duo et erant equidem temporibus, id vis aperiam facilis sadipscing, cum minim timeam id. Persecuti elaboraret suscipiantur ea mel, errem albucius id nam. Usu vero natum tibique ad, unum simul indoctum no pro. Erant aperiri pri te, eam eirmod scripserit et. Maluisset mnesarchum per at.

                Vitae essent id eam, mei graeco suavitate eu. No nihil denique apeirian eos, mutat nemore persius ut vis. Ex cum consul verear. Tempor suavitate ad sed. Usu no epicuri maluisset, cu falli semper civibus vis. Pro elit abhorreant an.
            </p>
            <div class="col-sm-2 blog_post_info">
                <h2 class="date">
                    July 7, 2016, 6:12 p.m.
                </h2>
            </div>
            
        </article>
        <article class="post row">
            <div class="col-sm-5 blog_post_info">
                <h1 class="blog_post_title">
                    <a href="#">
                        Blog Post 1
                    </a>
                    </h1>
                <a href="#" class="read_more text-uppercase">Read More</a>
            </div>
            <p class="col-sm-5 text-justify">
                Lorem ipsum dolor sit amet, nec verear alterum patrioque at, no has habeo inani. Eum ornatus albucius eu. Et voluptua sapientem efficiantur mea. Munere fabulas vis ea, vix at amet intellegebat. Sit exerci scribentur et.

                Vel no dictas facilisi ullamcorper, usu ad vidisse democritum incorrupte. Duo et erant equidem temporibus, id vis aperiam facilis sadipscing, cum minim timeam id. Persecuti elaboraret suscipiantur ea mel, errem albucius id nam. Usu vero natum tibique ad, unum simul indoctum no pro. Erant aperiri pri te, eam eirmod scripserit et. Maluisset mnesarchum per at.

                Vitae essent id eam, mei graeco suavitate eu. No nihil denique apeirian eos, mutat nemore persius ut vis. Ex cum consul verear. Tempor suavitate ad sed. Usu no epicuri maluisset, cu falli semper civibus vis. Pro elit abhorreant an.
            </p>
            <div class="col-sm-2 blog_post_info">
                <h2 class="date">
                    July 7, 2016, 6:12 p.m.
                </h2>
            </div>
            
        </article>
        <article class="post row">
            <div class="col-sm-5 blog_post_info">
                <h1 class="blog_post_title">
                    <a href="#">
                        Blog Post 1
                    </a>
                    </h1>
                <a href="#" class="read_more text-uppercase">Read More</a>
            </div>
            <p class="col-sm-5 text-justify">
                Lorem ipsum dolor sit amet, nec verear alterum patrioque at, no has habeo inani. Eum ornatus albucius eu. Et voluptua sapientem efficiantur mea. Munere fabulas vis ea, vix at amet intellegebat. Sit exerci scribentur et.

                Vel no dictas facilisi ullamcorper, usu ad vidisse democritum incorrupte. Duo et erant equidem temporibus, id vis aperiam facilis sadipscing, cum minim timeam id. Persecuti elaboraret suscipiantur ea mel, errem albucius id nam. Usu vero natum tibique ad, unum simul indoctum no pro. Erant aperiri pri te, eam eirmod scripserit et. Maluisset mnesarchum per at.

                Vitae essent id eam, mei graeco suavitate eu. No nihil denique apeirian eos, mutat nemore persius ut vis. Ex cum consul verear. Tempor suavitate ad sed. Usu no epicuri maluisset, cu falli semper civibus vis. Pro elit abhorreant an.
            </p>
            <div class="col-sm-2 blog_post_info">
                <h2 class="date">
                    July 7, 2016, 6:12 p.m.
                </h2>
            </div>
            
        </article>
    </body>
</html>

            <!-- <h1><a href="">BlahBlah</a></h1> -->
